:local(.LoginContainer)
  display flex
  flex-direction column
  min-width 350px
  max-width 600px
  width 100%
  margin-top -65px
  .header 
    color #a7a9ac
    text-align center
    h2
      font-size 42px
      margin-bottom 10px
  input 
    padding 10px
    margin-bottom 10px
  .error_message
    color $color-error-red
