:local(.Home)
  max-width 1700px
  display flex
  flex-direction column
  width 100%
  padding 0 80px 
  margin-bottom 30px
  .home__hero 
    background $content-sidebar-gray
    border-radius 15px
    max-height 850px
    height 850px
    .floating_dots
      z-index 1
    .hero_content
      display flex
      position relative
      flex-direction column
      width 100%
      z-index 2
      align-items center
      .hero_content_light
        content-visibility auto
        position absolute
        width 100%
        height 100% 
        .hero_content_light_item
          position absolute
          width 132px
          height 1328px
          animation 3s linear infinite lighting
          opacity 0
          height 900px
          width 132px
          &:nth-child(1)
            animation-delay 1s
            transform rotate(-30deg)
            left 120px
            top 75px
            background radial-gradient(116.3% 50% at 0% 50%, #6a6a6a1c 0%,rgba(255,255,255,0) 100%)
          &:nth-child(2)
            animation-delay .5s
            transform rotate(-22deg)
            left 140px
            top -80px
            background radial-gradient(116.3% 50% at 0% 50%,#6a6a6a1c 0%,rgba(255,255,255,0) 100%)
          &:nth-child(3)
            transform rotate(-15deg)
            left 240px
            top -110px
            background radial-gradient(116.3% 50% at 0% 50%,#6a6a6a1c 44.8%,rgba(255,255,255,0) 100%)
          &:nth-child(4)
            transform rotate(-165deg)
            right 240px
            top -110px
            background radial-gradient(116.3% 50% at 0% 50%,#6a6a6a1c 44.8%,rgba(255,255,255,0) 100%)
          &:nth-child(5)
            animation-delay .5s
            transform rotate(-158deg)
            right 140px
            top -80px
            background radial-gradient(116.3% 50% at 0% 50%,#6a6a6a1c 0%,rgba(255,255,255,0) 100%)
          &:nth-child(6)
            animation-delay 1s
            transform rotate(-150deg)
            right 120px
            top 75px
            background radial-gradient(116.3% 50% at 0% 50%,#6a6a6a1c 0%,rgba(255,255,255,0) 100%)
      .hero_content_item
        margin-top 80px
        z-index 99
        display flex
        align-items center
        flex-direction column
        h1
          font-size 85px
          font-weight 800
          max-width 950px
          text-align center
          line-height 78px
          margin-bottom 22px
        > p
          font-size 14px
          margin-bottom 25px
          font-weight 400
          color $color-less-white 
          text-align center
        .hero__btn
          font-size 16px
          height 50px
          width 180px
          border-radius 7px
        .hero__dash
          background #181c1e66
          backdrop-filter blur(4px)
          position relative
          padding 10px
          margin-top 50px
          max-width 1100px
          height 500px
          width 95%
          border-radius 20px
          img 
            width 100%
            height auto
            border-radius 20px
            transition 5s cubic-bezier(.6,.6,0,1) opacity
          .hero_fade
            height: 200px;
            width: 100%;
            position: absolute;
            bottom: -20%;
            left 0
            z-index 2
            background linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #181c1e 62%, #181c1e 100%)
  .home__features
    z-index 4
    margin-top 170px
    h3
      font-size 30px
    .home__features_cards
      display flex
      flex-wrap wrap
      justify-content space-between
      margin-top 15px
      align-items center
      padding 0 50px
      .features__card, .features__card_large
        min-width 250px
        width 100%
        flex-basis 49%
        height 550px
        padding 35px 25px 0
        margin-bottom 30px
        border-radius 20px
        .card__header 
          font-size 25px
          font-weight 600
      .features__card_large
        flex-basis 100%
        height 400px

  .home_pricing
    margin-top 30px
    display flex
    flex-direction column
    align-items center
    .pricing_header
      display flex
      flex-direction column
      align-items center
      h3 
        font-size 48px
        margin-bottom 15px
        text-align center
    .pricing_cards
      display flex
      width 100%
      max-width 1000px
      position relative
      align-items center
      flex-wrap wrap
      justify-content center
      .mouse_halo
        position absolute
        opacity 0.8
        transition all
        z-index 999
      .children
        padding 30px
      div.pricing_card
        position relative
        border-radius 30px
        height 500px
        width 310px
        margin-left 20px
        border none
        margin-bottom 20px
        &::before 
          content: ''
          width 311px
          background linear-gradient(var(--deg, 115deg),
            #8dfffe, $content-sidebar-gray, 
            $content-sidebar-gray,$content-sidebar-gray, 
            $content-sidebar-gray, $content-sidebar-gray 
            )
          border-radius 30px
          position absolute
          z-index -1
          height 501px
          top: -0.1%;
          left: -0.1%;
          transition 2s
        h5
          font-size 22px
          font-weight 500
          color #8dfffe
          margin-bottom 8px      
        .price
          position relative
          font-size 60px
          margin-top 40px
          font-weight 600
          span
            font-size 17px
            position absolute
            top 0
            color #8dfffe
        .recommended
          position absolute
          right 24px
          top 16px
          padding 7px 13px
          font-size 10px
          letter-spacing 2px
          border-radius 15px
          border 1px solid #4f535547
          background #4f535547
        .pricing_btn
          width 100%
          margin 35px 5px 35px
          background #4f535547
          border 1px solid #4f535547
          border-radius 30px
          &:hover
            color #8dfffe
          p
            mix-blend-mode difference
        .list_item
          border-bottom 1px solid #85858540
          padding-bottom 15px
          display flex
          align-items center
          margin 15px 0 0
          svg
            margin-right 10px
            color #8dfffe
        &:nth-of-type(2)
          height 535px
          padding 3px 0
          h5
            color $color-purple
          &::before 
            height 536px
            background linear-gradient(var(--deg, 115deg),
            $color-purple, $content-sidebar-gray, 
            $content-sidebar-gray,$content-sidebar-gray, 
            $content-sidebar-gray, $content-sidebar-gray 
            )
          span
            color $color-purple
          .pricing_btn
            background $color-purple
            border 1px solid $color-purple
            border-radius 30px
            &:hover
              color $color-purple
            p
              mix-blend-mode normal
              color black
          .list_item
            svg
              margin-right 10px
              color $color-purple
  
  .floating_dots 
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    pointer-events none
    z-index 1
    overflow hidden

  .dot 
    position absolute
    bottom 0
    width 3px
    height 3px
    background-color $color-less-white 
    border-radius 50%
    opacity 0
    animation-name floatUp
    animation-timing-function linear
    animation-iteration-count infinite

  @keyframes floatUp {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    20% {
      opacity: 0.7;
      }
    100% {
      transform: translateY(-100vh);
      opacity: 0;
    }
  }
  @media screen and (max-width: 900px)
    .home__features
      .home__features_cards
        padding 0
        .features__card, .features__card_large
          width 100%
          flex-basis 100%

  @media screen and (max-width: 600px)
    padding 0 13px
    .home__hero
      .hero_content
        height 520px
        .hero_content_item
          h1
            font-size 44px
            line-height 45px
          .hero__dash
            height auto

@keyframes lighting {
  0%, 100% {
    opacity: 0;
  }

50% {
    opacity: 1;
  }
}
