:local(.Button)
  padding 8px 15px
  border-radius 5px
  border none
  min-height 40px
  background $color-purple 
  color $color-solid-white
  transition ease 0.7s
  cursor pointer
  display flex
  border 1px solid $color-purple 
  align-items center
  justify-content center
  svg
    margin-right 5px
    &.loader
      animation rotate 5s linear infinite alternate
  &:hover:not([disabled])
    border 1px solid $color-purple 
    background transparent
    color $color-purple 
  &:disabled
    background rgb(151, 151, 151) !important
    cursor not-allowed
    border 1px solid rgb(151, 151, 151)

  p.text
    display flex
    align-items center

   
:local(.ExportButton)
    background transparent
    border 1px solid $color-white-grey
    svg
        padding-left 0px
        margin-left 0px
    &:hover:not([disabled])
      border 1px solid transparent
    &.disabled
        background transparent
        border none
        &:hover
            background transparent
            border none
        svg 
            fill #ccc


@keyframes rotate {
  from {transform: rotateZ(0);}
  to {transform: rotateZ(360deg);}
}
