:local(.container)
  display flex
  overflow-y hidden
  width 100%
  flex-direction column
  .lottie
    padding 60px
  .nav 
    height 60px
    background $content-sidebar-gray
    width 100%
    display flex
    justify-content space-between
    padding 0 25px
    align-items center
    svg
      cursor pointer
    .first
      display flex
      align-items center
      max-width 225px
      width 225px
      justify-content space-between
      .account_details
        display flex
        > div:nth-of-type(1)
          height 42px
          width 42px
          border-radius 50%
          background $content-gray-dark
          margin-right 15px
          display flex
          align-items center
          justify-content center
        > div:nth-of-type(2)
            .username
              font-size 15px
              width 100px
              white-space nowrap
              overflow hidden
              text-overflow ellipsis
            .email
              font-size 13px
              font-weight 100
              white-space nowrap
              width 100px
              overflow hidden
              text-overflow ellipsis

  .sidebar_e_content
    display flex
    .content
      background $content-gray-dark
      width 100%
      overflow-y hidden
      height calc(100vh - 60px)
      padding 15px 50px

:local(.LayoutSide)
  padding-top 10px
  @media screen and (max-width: 768px) {
    display none
  }

:local(.ModalSide)
  display flex
  flex-direction column
  align-items center
  .coming
    text-align center
    width 100%
