:local(.CreateTemplate)
  height 100vh
  overflow-y auto
  display flex
  position relative
  &::-webkit-scrollbar 
    display none
  -ms-overflow-style none
  scrollbar-width none
  .panel
    width 220px
    height 750px
    display flex
    position sticky
    top 0
    &_menu
      height 100%
      width 55px
      padding 25px 5px
      background #1f2325
      display flex
      flex-direction column
      align-items center
      li
        list-style none
        cursor pointer
        margin-bottom 25px
        height 40px
        &:last-of-type
          border-top 1px solid white
          padding-top 20px
        p
          display none
          font-size 7px
          margin 0
        &:hover
          svg
            stroke #8a8a8a
          p
            display block
    &_menu_items
      background #4b4e55
      width 170px
      .all_widget
        display flex
        flex-direction column
        align-items center
        justify-content center
        margin-top 20px
        .widget_lone
          margin-bottom 20px
          display flex
          align-items center
          flex-direction column
          cursor pointer
          .widget_logo
            width 70px
            height 70px
            img 
              border-radius 6px
      .colors
        display flex
        flex-direction column
        align-items center
        width 100%
        .template_trigger
          margin-left 0

        .circle_color
          width 120px
        > div p
          margin 15px 0
          font-size 11px
        .add_image
          background #f6f6f6
          border-radius 5px
          display flex
          align-items center
          padding 0 10px
          margin-top 9px
          height 30px
          p 
            cursor pointer
            display flex
            align-items center
            font-size 14px
            color $color-purple-mid
            margin 0
          input 
            display none
            visibility hidden
  .toolbar
    height 800px
    display flex
    position sticky
    top 0
    margin-left 20px
    align-items center
    justify-content center
    flex-direction column
    gap 10px
    > div
      cursor pointer
  .template
    position relative
    width 700px
    margin-left 15px
    .background_s
      width 700px
    .layout
      position relative
      color black
      height 100%
    .widget_container
      border 1px solid transparent
      height 100%
      &:hover
        border 1px dashed #83aee6

  .widget
    &:hover
      border 1px dashed black
