:local(.RichTextWidget)
  height 100%
  .content
    height 100%
    :global(p.is-editor-empty)
      height 100%
    :global(p.is-editor-empty)::before
      content 'Type Here'
      height 0
      float left
      font-size 29px
      font-style italic
      pointer-events none
    > div
      height 100%
      outline none
      
:local(.SliderT)
  .Thumb
    height 12px
    width 12px
    cursor pointer
    background $content-sidebar-gray
  .Range
    background $content-sidebar-gray
