@import '_Images/global.styl'

:local(.Budget)
  padding 0 25px
  color $color-white-grey
  .header-date, .header-cont
    display flex
    justify-content space-between
    align-items center
  .header-date
    padding 0 0 30px
    height 40px
  .date > div:first-of-type, .currency >div:first-of-type
    color $color-small-text
    font-size 12px
  .date > div:last-of-type, .currency >div:last-of-type
    font-size 14px
    font-weight bold

  .header-cont
    margin-top 25px
    .latest-trans
      font-size 23px
    .add-button
      background transparent
      padding 13px 18px
      border 1px solid $color-small-text
      border-radius 5px
      color inherit
      &:hover 
        border 1px solid $color-small-text

  .container-transactions
    height 500px
    min-width 0
    overflow scroll
    font-size 15px
    .row
      border-bottom 1px solid $color-small-text
      margin-bottom 20px
      display flex
      align-items center
      justify-content space-between
      padding 20px 0
      > div
        margin-right 10px
      .image-text
        height 60px
        width 60px
        border-radius 8px
        display flex
        align-items center
        justify-content center
        background green
      .description-obj
        flex 1 0 30%
        .description
          font-weight bold
        .source
          color $color-small-text
      .amount
        flex 1 0 10%
        font-weight bold
        text-align right
      .uuid
        font-weight bold
        flex 1 0 15%
  .statstics-chart
    margin-top 10px
    .stats
      display flex
      justify-content space-between
      margin-bottom 15px
      .stats-title
        font-size 23px

:local(.divider)
    margin 0 -55px 10px
    
:local(.extraContent)
  background $content-sidebar-gray
  width 270px
  min-width 270px
  padding-top 30px
  display flex
  flex-direction column
  position: relative
  .header
    padding 0 0 30px 10px
    height 40px
    display flex
    align-items center
    .greeting
      font-size 14px
      color $color-small-text
    .username
      height 50px
      width 50px
      border-radius 4px
      background $content-gray-dark 
      display flex
      justify-content center
      align-items center
      margin-right 8px

  .budget-data
    position absolute
    bottom 40px
    padding 15px
    .limit
      display flex
      align-items center
      position relative
      font-size 12px
      width 100%

      
:local(.BudgetModal)
  .budget-button
    background: green
    padding 12px 20px
    font-size 14px
    &:hover:not(.disabled)
      border 1px solid green
      color green
    

