:local(.Slider)
  display flex
  .slider
    width 370px
    align-items center
    display flex
    flex-direction column
    .image
      width 370px
      height 370px
      img
        width 370px
        height 370px

  .slide-content > div
    text-align center
  .header
    font-size 25px
    font-weight 800
    margin 10px 0
    text-align center
  .description
    margin-bottom 10px
    font-size 13px
    text-align center
    
