:local(.Contacts)
  display flex
  flex-direction column
  .header
    display flex
    justify-content space-between
    align-items center
    margin-bottom 30px
    height 50px
    h2
      display flex
      align-items center
      a
        margin-right 10px
        color inherit
        display flex
    &_btn
      display flex
      width 230px
      justify-content flex-end
      > div
        flex-basis 48%
    
    svg 
        margin-right 3px
  .contact_list
    height 100px
    .grid 
      height 85vh
      border none
      :global(.ag-header-cell-resize)
        z-index 0
      :global(.ag-cell-focus)
        border 1px solid transparent !important
      :global(.ag-root-wrapper.ag-ltr.ag-layout-normal)
        border none
      :global(.ag-cell)
        display flex
        align-items center
        font-size 13px
      :global(.grid_click)
        cursor pointer
      
:local(.ContactModal)
  form
    padding 20px 30px
    .input_group
      padding 20px 0 25px
      border-top 1.5px solid $color-light-ccc 
      border-bottom 1.5px solid $color-light-ccc 
      margin 20px 0
      > div
        margin-bottom 18px
      .label_name
        font-weight 600
        font-size 13px
        span 
          color $color-red
      input
        height 45px
    .send_btn > button
      margin-left auto
      font-size 14px
      padding 9px 33px
     

:local(.ContactHistory)
  display block
  .client_details
    display flex
    justify-content: space-between
    .card 
      width 100%
      margin-right 15px
      height 150px
      padding 10px
      &:last-of-type
        margin-right 0
      .card_title
        padding 7px
        background #f4984e
        width fit-content
        border-radius 4px
        font-size 14px
        width 110px
        display flex
        justify-content center
        align-items center
      .card_price
        font-size 28px
        margin-top 35px
        position relative
        span 
          font-size 12px
          position absolute
          top -12px
  .grid_cont
    margin-top 30px
    height 600px
    .grid
      height 600px
  .no_invoice
    color $color-less-white
    margin-top 30px
    height 400px
    display flex
    align-items center
    justify-content center
    flex-direction column
    border 1px solid $color-less-white
    border-radius: 5px
    > p
      margin-bottom 30px
      font-size 25px


