:local(.SideBarContainer)
  height 100vh
  background  $content-sidebar-gray
  width 40px
  transition ease-in 0.2s

  &.show
    min-width 300px
    width 300px
  
  &.right
    top 0
    right 0

  .hamburger
    display flex
    justify-content flex-end
    cursor pointer
    height 45px
    border-bottom 1px solid #ccc
    align-items center
    padding-right 10px

  .children
    display flex
    flex-direction column
    padding 25px

    .sidebar_child
      display flex
      align-items center
      margin-bottom 15px
      padding 20px 10px
      border-radius 10px
      cursor pointer
      color $color-white-grey
      transition ease 0.5s
      text-decoration none
      svg
        margin-right 15px
