:local(.Track)
  display flex
  flex-direction column
  .header
    display flex
    justify-content space-between
    align-items center
    height 50px
    .track_button
      height 100%
      border-radius 25%
      padding 5px 12px
      svg 
        width 25px
        height 20px

:local(.track_modal)
  height 300px
  .input_group
    display flex
    > div
      height 100px
      input
        height 55px


