:local(.DividerWidget)
  display block
  width 100%
  height 1px


:local(.DividerToolbar)
  > div
    display flex
    align-items center
    padding 5px 10px
    background $content-sidebar-gray
    border-radius 3px
    width fit-content
    > div
      cursor pointer
      margin-right 9px
