:local(.WidgetGridLayout)
    height 100%
   .template
    position relative
    width 700px
    margin-left 25px
    height 100%
    .background_s
      width 700px
    .all_widgets
      position relative
    .layout
      position relative
      color black
      height 100%
    .widget_container
      border 1px solid transparent
      height 100%
      &:hover
        border 1px dashed #83aee6

  .widget
    &:hover
      border 1px dashed black
