@import '_Images/global.styl'
  
:local(.LoginContainer)
  display flex
  flex-direction column
  min-width 450px
  max-width 700px
  margin-top -65px

  input 
    width inherit
    padding 10px
    margin-bottom 15px
  .error-message
    color $color-error-red
