$color-global-dark = #171717
$color-grey-dark = #1e1e1e
$color-light-backdrop = #82808028
$color-shimmer-white = #f6f6f6
$color-blue-milk = #4646fe
$color-solid-white = #ffffff
$content-gray-dark = #181c1f
$content-sidebar-gray = #1f2325
$color-green = #048540
$color-red = #a00000
$color-small-text = #44494c
$calendar-tile-text = #626869
$color-white-grey = #d2d5d9
$color-green-mid = #134f38
$color-error-red = #CF6679
$color-light-ccc = #858585
$color-blue-darker = #3a4196
