:local(.SignUpContainer)
  display flex
  flex-direction column
  min-width 450px
  max-width 700px
  margin-top -65px

  form
    display flex
    flex-direction column
    input 
      width inherit
      padding 10px
      margin-bottom 15px
