@import '_Images/global.styl'

:local(.PlaceholderCont)
  animation shimmer 1200ms linear infinite normal
  background-image linear-gradient(90deg, #1e2023 0%, #25272a 50%, #1e2023 100%);
  background-size 500px auto
  overflow hidden
  vertical-align top 
  @keyframes shimmer 
    0%
      background-position -500px 0
    100% 
      background-position 500px 0
  
:local(.ChartPlaceholder)
  position relative
  img 
    position absolute
    width 100%
    height 190px
    left 0
    top 0

